@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-white: #ffffff;
  --color-red: #c21500;
  --color-green: #25d366;
  --color-yellow: #ebc351;
  --color-gray: #f2f2f2;

  --color-gray-100: #dae4f2;
  --color-gray-200: #c8d0da;
  --color-gray-300: #95a1b1;
  --color-gray-400: #6f7d90;
  --color-gray-500: #2a313c;
  --color-gray-600: #21252c;
  --color-gray-700: #191d24;
  --color-gray-800: #13161b;
  --color-gray-900: #0f1216;
}

@layer base {
  h1 {
    @apply text-[40px] leading-14 md:text-[56px] md:leading-16 font-bold;
  }
  h2 {
    @apply text-4xl md:text-5xl md:leading-[56px] font-bold uppercase;
  }
}
